//FONT FAMILIES
$font-header: 'Montserrat',sans-serif;
$font-main: 'Roboto',sans-serif;


//FONT SIZES
$font-med: 1.125rem; //14px
$font-sm: 0.875rem; //18px

//COLORS    
$green: #36ea94;
$white: rgb(255, 255, 255);
$black: rgb(30, 33, 38);
$grey: rgba(55, 57, 61, 0.365);